body{
  font-family: cursive;;
  background-color: darkslategrey;
}


.titel{
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 50px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 25%;
  margin: 50px;
  float: left;
  background-color: aliceblue;
  border-radius: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.container {
  padding: 2px 16px;
}

img {
  width: 100%;
  border-radius: 10px;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;
  cursor: -webkit-grab; 
  cursor: grab;
  transition: 0.8s;
  margin: 10px;
}
button:hover {
  background-color: #000000;
  color: white;

}
h2{
  margin: 10px;
}
h3{
  margin: 10px;
}